<form id="search-form">
    <input
      class="search-form-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="form-btn" type="submit">
      <svg class="btn-icon" width="16" height="16">
        <use href="./images/icons.svg#glass-icon"></use>
      </svg>
    </button>
  </form>
  <div class="gallery">
    <!-- Картки зображень -->
  </div>
  <button type="button" class="load-more is-hidden">Load more</button>

  